
:root{
    --primary:#FFCC02
}

header{
    padding: 0.5rem 1rem;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    list-style: none;
    display: flex;
}
li {
    margin: 0 1rem;
    cursor: pointer;
    font-size: 1rem;
    
}
li:hover {
    color: var(--primary)
}

a {
    text-decoration: none;
    color: inherit;
}
.logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;

}

.card {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    cursor: pointer;
}

.card > img {
    width: 200px;
    height: 250px;
    background-size: cover;
}

.card:hover {
    transform: scale(1.05);
    transition: all 100ms ease-in-out;
    opacity: .75;
}

.cardSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rating{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.cardTitle {
    max-width: 70%;
    text-align: center;
}

.searchBtn , .search {
    padding: 8px 16px;
    border-radius: .25rem;
    border: .5px solid gray;
    margin-left: 5px;
    
}
.search{
    width: 20%;
    border-color: var(--primary);
}

.search:focus{
    outline: none;
}

.searchBtn{
    background-color: var(--primary);
}



.searchBar{
    height: 2.5rem;
    display: flex;
    margin-bottom: 2rem;
    justify-content: center;

}